*.pyc
*.iml

*.xml
*.local
data/
**/CheXpert-v1.0-small
.gitignore

*.rar

*.DM-ANATC-LP

*.txt

*.config

*.model

*.optim

*.pth

*.linear_optim

*.zip

*.pkl

logs/chexpert_resnet18_unsup_simclr_CSI_shift_rotation_one_class_epoch_128/archive/version
